body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #003366;
  color: white;
  padding: 20px 0;
  position: relative;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

header .logo img {
  width: 100px;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  color: #b33b3b;
  white-space: nowrap;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  margin: 50px 200px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
  font-size: 2.5em;
  margin: 0;
}

.hero-content p {
  font-size: 1.2em;
}

section {
  padding: 60px 20px;
  background-color: white;
}

section h2 {
  color: #003366;
}

section h3 {
  color: #b33b3b;
}

.text-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-image .text {
  flex: 1;
  padding: 20px;
}

.text-image .image {
  flex: 1;
  padding: 20px;
}

.text-image img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.carousel img {
  margin: 0 10px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .text-image {
    flex-direction: column;
    text-align: center;
  }
  nav {
    display: none;
  }
  .hero-content {
    position: relative;
    top: 152px;
  }
  header .logo img {
    width: 60px;
  }
}